body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.center {
  display: flex;
  justify-content: center;
}

.centerSpace {
  display: flex;
  justify-content: space-around;
}

.centerSpace2 {
  display: flex;
  justify-content: space-around;
}

.detail {
  max-height: 500px;
  overflow-y: scroll;
}